  <div class=bar>
    <input type='button' class='button-lightgreen' value= 'Create New Item' ng-click="showCreate();">&nbsp;&nbsp;  <span class="cardformtitle">Search: <input placeholder=" items" ng-model="query"></span>
  </div>
<div class="container-fluid">

  <div class="cardcontainer">
  <form id="create" ng-submit="processCreate()" ng-show='showcreate'>
    <fieldset>
      <div class="content float-left">
        <div class='cardform'>
          <div class="cardformtitle">
            Create Item
          </div>
          <div class="cardformbody" >
            <label for="name">Item Name*:</label>
            <input type="text" ng-model="cformData.name" name="name" value="">
          </div>
          <div class="cardformbody">
            <label for="description">Description:</label>
            <input type="text" ng-model="cformData.description" name="description" value="">
          </div>
          <div class="cardformbody">
            <label for="quantity">Quantity*:</label>
            <input type="text" ng-model="cformData.quantity" name="quantity" value="" required>
          </div>
          <div class="cardformbody">
            <label for="price">Unit Price:</label>
            <input type="text" ng-model="cformData.price" name="price" value="">
          </div>
          <div class="cardfooter">

            <button type="submit" class='button-teal' name="submit" value='Create' >Create</button>
            <a href="#home"><input type='button' class='button-red' value='Cancel'></a>
          </div>
        </div>
      </div>
    </fieldset>
</form>


  <form id="update" ng-submit="processUpdate()" ng-show='showupdate'>
    <fieldset>
      <div class='content float-left'>
        <div class='cardform'>
          <div class='cardformtitle'>
              Update Item: {{formData.name}}
          </div>

          <div class="cardformbody">
            <label for="name">Item Name (required):</label>
            <input type="text" ng-model="formData.name" name="name" value="">
          </div>
          <div class="cardformbody">
            <label for="description">Description:</label>
            <input type="text" ng-model="formData.description" name="description" value="">
          </div>
          <div class="cardformbody">
            <label for="quantity">Quantity:</label>
            <input type="text" ng-model="formData.quantity" name="quantity" value="">
          </div>
          <div class="cardformbody">
            <label for="price">Unit Price:</label>
            <input type="text" ng-model="formData.price" name="price" value="">
          </div>
          <div class='cardformbody'>
            <label for="_id">Item ID:</label>
            <input type="text" ng-model="formData._id" name="itemid" value="" readonly="" style="font-size:8px;">
          </div>
          <div class="cardfooter">
          <button type="submit" class="button-white" value="Update" >Submit</button>&nbsp;<a href="#home"><input type="button" class="button-lightred" value="Cancel"></a>
          </div>
        </div>
      </div>
    </fieldset>
  </form>

  <div class='card' ng-repeat="item in items | array | filter:query | orderBy:orderProp">
    <div class='cardtitle'>{{item.name}}
    <hr>
    </div>
    <div class='cardbody'>
      <div>Description: {{item.description}}
      </div>
      <div>
        Quantity: {{item.quantity}}
      </div>
      <div>
        Price: $: {{item.price}}
      </div>
      <div style="font-size:8px;">
       Resource Id: {{item._id}}
      </div>
      <div>
        <small><i>updated: {{item.ts}}</i></small>
      </div>
    </div>
    <div class="cardfooter">
      <input type='button' class='button-white' value='Update' ng-click="updateItem(item._id);">&nbsp;&nbsp;<a href="#home"><input type='button' value='Delete' class='button-white' ng-click="deleteItem(item._id);"></a>
    </div>

</div>
