<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->



    </div>

  <div class="cardcontainer">
    <div class='card' ng-repeat="item in items | array | filter:query | orderBy:orderProp">
      <div class='cardtitle'>{{item.item_name}}
      </div>
      <div class='cardbody'>
        <div>Description: {{item.item_desc}}
        </div>
        <div>
          Quantity: {{item.item_quantity}}
        </div>
        <div>
          Price: $: {{item.price}}
          <br>Resource Id: {{item.item_id}}
        </div>
        <div>
          <small><i>updated: {{item.ts}}</i></small>
        </div>
      </div>
      <div class="cardfooter">
        <a href='#update/{{item.item_id}}'><input type='button' value='Update'class='button-blued' value='update'></a>&nbsp;&nbsp;<a href="#home"><input type='button' value='Delete' class='button-red' ng-click="deleteItem(item.item_id);"></a>
      </div>

  </div>
